
<%= turbo_stream_from "urls" %>

<div class="container-md">
  <div class="card shadow">
    <h2 style="padding-left: 15px;">Preview Opengraph Information from Webpages</h2>
  </div>
  <%= render "form", url: @url %>

  <p></p>
  <div class="container-sm">
    <table class="table table-striped table-bordered table-small">
      <thead>
      <th scope="col">URL</th>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th></th>
      </thead>
      <tbody id="urls" class="table-group-divider">
        <turbo-stream action="prepend" target="urls">
          <template>
          <% @urls.each do |url| %>
            <%= render url %>
          <% end %>
          </template>
        </turbo-stream>
      </tbody>
    </table>
  </div>
</div>
<style>
    img {
        display: block;
        max-width:130px;
        max-height:135px;
        width: auto;
        height: auto;
    }
</style>